.heading_section{
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  height: 4vh;
  position: relative;
}
.left{
  font-size: 14px;
  padding-left: 50px;
  color: orange;
}
.middle{
  display: flex;
  gap: 25px;
  position: absolute;
  left: 45%;
  font-size: 14px;
}
.jumia{
    font-size: bold;
    font-weight: 800;
}
.pay{
    color: lightgray;
    font-weight: 400;
}
.delivery{
    color: lightgray;
    font-weight: 900;
    font-size: bold;
}